{# Menu admin Twig template #}

<div class="list-group">
    <a href="#" class="list-group-item active"><strong>Panel Administration</strong> </a>
    <a href="{{ path('skylink_ebook_admin_demandes_partenariat') }}" class="list-group-item">Demande en cours <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="{{ path('skylink_ebook_admin_poster_ouvrage') }}" class="list-group-item">Poster un ouvrage <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Gérer les ouvrages <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Supprimer un auteur  <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Supprimer un Marketer <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Rétrait Finance Marketer <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Etat Financier Marketer <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Statistic des ventes <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Uploader des codes <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="#" class="list-group-item">Gestion des Codes <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="{{ path('skylink_ebook_admin_universite') }}" class="list-group-item">Gérer des universités <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="{{ path('skylink_ebook_admin_departement') }}" class="list-group-item">Gérér des départements <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="{{ path('skylink_ebook_admin_promotion') }}" class="list-group-item">Gérer des promotions <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

</div>
